.font {
  &__controls {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  &__input {
    width: 100%;
    line-height: 26px;
    padding: 0 10px;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    &:focus {
      outline: none;
    }
  }
  &__inputBox {
    margin: 0 20px 0 0;
    width: 70%;
    &_size {
      width: 20%;
      margin-right: 0;
      text-align: center;
    }
    &_radio {
      line-height: 20px;
      width: auto;
      margin: 0 10px;
      & > input {
        width: auto;
      }
    }
  }
  &__label {
    display: block;
    color: #333;
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: 700;
  }
  &__title {
    font-size: 14px;
    color: #333;
    margin: 0 0 2px;
  }
  &__labelOptions {
    display: inline-block;
    height: 20px;
    margin-left: 5px;
    vertical-align: middle;
    color: #333;
  }
}