.font {
  &__controlsContainer {
    padding: 0 27px;
  }
  &__controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    line-height: 24px;
  }
  &__labelBox {
    text-align: left;
    margin-right: 20px;
  }
  &__input {
    width: 100%;
    line-height: 26px;
    padding: 0 10px;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    &:focus {
      outline: none;
    }
  }
  &__labelOptions {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    font-size: 13px;
    padding: 0 5px;
    vertical-align: middle;
    color: #333;
    border-radius: 5px;
    border: 1px solid transparent;
  }
  &__inputBox {
    margin: 0 20px 0 0;
    width: 70%;
    &_size {
      width: 20%;
      margin-right: 0;
      text-align: center;
    }
    &_radio,
    &_checkbox {
      line-height: 20px;
      width: auto;
      margin: 0 5px;
      & > input {
        width: auto;
        appearance: none;
        &:checked + label {
          border-color: #333;
        }
      }
    }
  }
  &__label {
    display: block;
    margin-bottom: 3px;
    font-size: 13px;
    font-weight: 700;
    color: #333;
  }
  &__title {
    font-size: 13px;
    margin: 0 0 2px;
    color: #333;
  }
}
