.border {
  &__options {
    display: flex;
    padding: 0 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__inputBox {
    margin: 0 10px 10px 0;
    width: 20%;    
    & > input {
      width: 100%;
      line-height: 20px;
      &:focus {
        outline: none;
      }
    }
    &_radio {
      display: inline-block;
      line-height: 30px;
      & > input {
        width: auto;
      }
    }
    & > label {
      color: #333;
    }
  }
  &__labelOptions {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    vertical-align: middle;
    color: #333;
    border: 1px solid #333;
    &_dashed {
      border-style: dashed;
    }
    &_dotted {
      border-style: dotted
    }
    &_none {
      border: none;
    }
  }
  &__title {
    font-size: 14px;
    color: #333;
    margin: 10px 0;
  }
}