.border {
  &__options {
    display: flex;
    padding: 0 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5px;
  }
  &__inputBox {
    margin: 0 10px 10px 0;
    width: 20%;
    & > label {
      color: #333;
      font-size: 13px;
    }
    & > input {
      width: 100%;
      line-height: 20px;
      &:focus {
        outline: none;
      }
    }
    &_radio {
      display: inline-block;
      line-height: 30px;
      & > input {
        width: auto;
      }
    }
    &_number {
      width: 15%;
      margin-right: 26px;
      text-align: center;
      box-sizing: border-box;
      & > input {
        line-height: 30px;
        padding: 0 5px;
        text-align: center;
      }
      & > label {
        display: inline-block;
        font-weight: 700;
        margin-bottom: 3px;
      }
    }
  }
  &__labelOptions {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    vertical-align: middle;
    color: #333;
    border: 1px solid #333;
    &_dashed {
      border-style: dashed;
    }
    &_dotted {
      border-style: dotted
    }
    &_none {
      border: none;
    }
  }
  &__title {
    font-size: 13px;
    color: #333;
    margin: 0 0 10px;
  }
}