.boxSpacing {
  &__container {
  }
  &__label {
    margin-right: 10px;
    user-select: none
  }
  &__component {
    background: #EDEDED;
    padding: 20px 0 15px;
    margin-top: 8px;
    box-shadow: 1px 1px 5px 0 #aaa inset;
    border-top: 1px solid color(#39B6B3 l(50%))
  }
  &__box {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 60px;
    border: 1px solid #888;
    padding: 40px;
  }
  &__content {
    width: 100%;
    height: 100%;
    border: 1px solid #888;
    background: #fff;
  }
  &__input {
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    &:focus {
      outline: none;
    }
    &_top {
      top: 7px;
      left: 77px
    }
    &_right {
      top: 58px;
      right: 6px
    }
    &_bottom {
      bottom: 6px;
      left: 77px
    }
    &_left {
      top: 58px;
      left: 8px;
    }
  }
}