.wrap{
  position: relative;
}

.placeholder{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  background: #fff;
  text-transform: uppercase;
  color: color(#78B2D1 a(70%));
  border-radius: 3px;
}

.placeholderBorder{
  border-radius: 3px;
  position: absolute;
  left: -3px;
  top: -3px;
  bottom: -3px;
  right: -3px;
  border: 2px dashed color(#78B2D1 a(70%));
}
