.wrap{
  position: fixed;
  top: -60px;
  width: 100%;
  z-index: 2;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  &:before{
    content: ' ';
    position: absolute;
    top: 0;
    bottom: -60px;
    left: 0;
    right: 0;
    visibility: hidden;
    background-color: color(#2E353D a(0%));
    transition: background-color .1s ease-in;
  }
}
.wrapActive:before{
  visibility: visible;
  background-color: color(#2E353D a(100%));
}
.buttonsWrap{
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
.buttons{
  padding: 15px 0;
}

.tabs{
  position: relative;
  top: 60px;
}

.button{
  color: color(white a(60%));
  border: 0;
  z-index: 1;
  margin-top: 5px;
  padding: 5px 10px;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 300;
  position: relative;
  letter-spacing: 1px;
  transition: color .2s ease-in-out;
  outline: none;
  position: absolute!important;
  &:hover{
    color: white;
  }
  &.active{
    color: white;
  }
  &.hidden{
    &:after{
      opacity: 0;
    }
  }
}

.button_organism{
  right: 100%;
}
.button_atom{
  left: 100%;
}

.listWrap{
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  background: #485562;
  visibility: hidden;
}
.activeList{
  visibility: visible;
}

.list{
  height: 100px;
  padding: 10px;
  & > div {
    height: 100%;
    display: inline-block;
    margin: 0 5px;
  }
  & img{
    border-radius: 2px;
    height: 100%;
    width: auto;
  }
}
