.wrap{
  position: relative;
  width: 100%;
  height: 100%;
}

.resizable{
  display: inline-block;
  position: relative;
  &:before{
    content: ' ';
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    border: 2px dashed color(#333 a(60%));
    border-radius: 3px;
  }
}

.handle{
  background-color: #333;
  border-radius: 50%;
  border: 1px solid #333;
}


.align{
  position: absolute;
  top: 7px;
  left: 0;
  right: 0;
  text-align: center;
}

.align_left{
  text-align: left;
}
.align_center{
  text-align: center;
}
.align_right{
  text-align: right;
}
