  .setting {
    &__label {
      margin-right: 10px;
      user-select: none;
      font: 400 14px 'Open Sans', sans-serif;
    }
    &__button {
        display: inline-block;
        padding: 5px;
        cursor: pointer;
        border-radius: 1px;
        background: #fff;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, .098);
        vertical-align: middle;
    }
    &__placeholder {
        width: 36px;
        height: 14px;
        border-radius: 2px;
    }
    &__component {
      background: #FFF;
      padding: 20px 10px;
      margin-top: 8px;
      box-shadow: 1px 1px 5px 0 #aaa inset;
      border-top: 1px solid color(#39B6B3 l(50%));
    }
  }
