.fileUploader {
  &__inputBox {
    margin: 0 0 5px 8px;
    &_stack {
      width: 40%;
      & > input {
        width: 100%;
        line-height: 20px;
        padding: 0 5px;
        box-sizing: border-box;
        &:focus {
          outline: none;
        }
      }
    }
    & > label {
      font-size: 13px;
      color: #333;
      margin-left: 5px;
    }
    &_cover {
      margin: 10px 0 20px 8px;
    }
  }
  &__title {
    font-size: 13px;
    font-weight: 700;
    color: #333;
    margin: 0 0 3px;
  }
  &__dropzoneMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    line-height: 1.2;
    &_white {
      color: #fff;
      text-shadow: 1px 1px 1px #000;
      font-size: 12px;
    }
  }
  &__dropzone {
    width: 200px;
    height: 154px;
    margin: 0 auto 20px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    border: 1px dashed #333;
    border-radius: 5px;
  }
  &__previewContainer {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
  }
  &__preview {
    max-width: 100%;
    max-height: 100%;
    vertical-align: top;
    border-radius: 5px;
  }
  &__optionsTitle {
    color: #333;
    font-size: .8rem;
    font-weight: 600;
    margin: 0 0 8px;
  }
  &__backgroundOptions {
    display: flex;
    text-align: left;
    padding: 0 20px;
    &__column {
      width: 50%;
    }
  }
  &__repeatingBox {
    margin-bottom: 10px;
  }
  &__positionBox {
    display: flex;
    justify-content: space-around;
  }
}