.border {
  &__label {
    margin-right: 10px;
    user-select: none
  }
  &__button {
      display: inline-block;
      padding: 5px;
      cursor: pointer;
      border-radius: 1px;
      background: #fff;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, .098);
      vertical-align: middle;
  }
  &__component {
    background: #FFF;
    padding: 10px;
    margin-top: 8px;
    box-shadow: 1px 1px 5px 0 #aaa inset;
    border-top: 1px solid color(#39B6B3 l(50%));
    & > div:first-child {
      margin: 0 auto;
    }
  }
  &__options {
    display: flex;
    padding: 0 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__inputBox {
    margin: 0 10px 10px 0;
    width: 20%;    
    & > input {
      width: 100%;
      line-height: 20px;
      &:focus {
        outline: none;
      }
    }
    &_radio {
      display: inline-block;
      line-height: 30px;
      & > input {
        width: auto;
      }
    }
    & > label {
      color: #333;
    }
  }
  &__labelOptions {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    vertical-align: middle;
    color: #333;
    border: 1px solid #333;
    &_dashed {
      border-style: dashed;
    }
    &_dotted {
      border-style: dotted
    }
    &_none {
      border: none;
    }
  }
  &__title {
    font-size: 14px;
    color: #333;
    margin: 10px 0;
  }
}