.buttonContainer {
    display: inline-block;
}
.button {
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    display: inline-block;
    zoom: 1;
    box-sizing: border-box;
    padding: .5em 1em;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    color: #444;
    border-radius: 2px;
    &:hover {
      background-color: inherit!important;
    }
}

.align_left {
    text-align: left;
}
.align_center {
    text-align: center;
}
.align_right {
    text-align: right;
}

.input > input {
    min-width: 20px;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
}
