.alignButton{
  background-color: color(#181818 a(90%));
  border: 1px solid #181818;
  border-radius: 3px;
  margin: 3px;
  line-height: 40px;
  width: 40px;
  height: 40px;
  padding: 0;
  cursor: pointer;
  opacity: .2;
  outline: none;
  transition: opacity .1s ease-in-out;
  &:hover{
    opacity: .9;
  }
  &.active{
    opacity: .9;
  }
  svg{
    fill: white;
    height: 25px;
    width: 25px;
    display: inline-block;
    vertical-align: -6px;
  }
}
