.wrap{
  position: relative;
}

.border{
  opacity: 0;
  transition: opacity .1s ease-in-out;
}

.horizontalBorder{
  &:before, &:after{
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    border-top: 2px dashed #39B6B3;
  }
  &:before{
    top: 0;
  }
  &:after{
    bottom: 0;
  }
}

.verticalBorder{
  &:before, &:after{
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    border-left: 2px dashed #39B6B3;
  }
  &:before{
    left: 0;
  }
  &:after{
    right: 0;
  }
}

.modalWindow {
  display: none;
  position: absolute;
  top: 27px;
  left: 0;
  width: 200px;
  height: auto;
  padding: 0 0 4px;
  background: #39B6B3;
  border-radius: 0 0 4px 4px;
  color: #fff;
  font-size: 11px;
  &_active {
    display: block;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: block;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #fff;
    &:hover {
      background: color(#39B6B3 l(60%));
    }
  }
}

.title{ 
  position: absolute;
  left: -1px;
  top: -1px;
  text-transform: uppercase;
  font-size: 11px;
  padding: 3px;
  color: white;
  background-color: #39B6B3;
  box-shadow: none;
  border: none;
  transition: width .4s ease-out, background .3s ease-out;
  &:focus {
    outline: none;
  }
  &_active {
    width: 200px;
    background: color(#39B6B3 l(40%));
  }
  &.outside{
    top: auto;
    bottom: 100%;
    margin-bottom: -2px;
    & + .modalWindow {
      top: 0;
    }
  }
  &_settings {
    padding: 8px 30px 8px 10px;
  }
  &_settings i {
    position: absolute;
    top: 5px;
    right: 6px;
    display: block;
    width: 16px;
    height: 16px;
    font-style: normal;
    & svg {
      width: 100%;
      height: 100%;
      fill: #fff;
    }
  }
}

.over{
  opacity: 1;
}