.wrap{
  width: 100%;
  background-color: #EDEDED;
  position: relative;
}

.container{
  lost-center: 1000px 10px flex;
}

.leftSide{
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
}

.side{
  lost-column: 1/4 4 20px flex;
}

.rightSide{
  lost-column: 1/2 2 30px flex;
}

.rightSideContainer{
  padding: 50px 0;
}

.moleculeWrap{
  min-height: 300px;
}
