.fileUploader {
  &__container {
  }
  &__label {
    margin-right: 10px;
    user-select: none
  }
  &__button {
      display: inline-block;
      padding: 5px;
      cursor: pointer;
      border-radius: 1px;
      background: #fff;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, .098);
      vertical-align: middle;
  }
  &__placeholder {
      width: 36px;
      height: 14px;
      border-radius: 2px;
  }
  &__component {
    background: #FFF;
    padding: 20px 10px;
    margin-top: 8px;
    box-shadow: 1px 1px 5px 0 #aaa inset;
    border-top: 1px solid color(#39B6B3 l(50%));
  }
  &__inputBox {
    & > label {
      color: #333;
    }
  }
  &__dropzoneMessage {
    color: #333;
    display: inline-block;
    line-height: 1.2;
  }
  &__dropzone {
    width: 200px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    box-sizing: border-box;
    border: 1px dashed #333;
    border-radius: 5px;
  }
  &__previewContainer {
    display: flex;
    padding: 10px;
    & figure {
      width: 50%;
      margin: 0 10px 0 0;
    }
  }
  &__preview {
    max-width: 100%;
    vertical-align: top;
    border-radius: 5px;
  }
  &__optionsLabel {
    color: #333;
    font-size: .8rem;
    font-weight: 600;
    margin: 0 0 3px;
  }
}