.wrap{
  position: relative;
  transform: translate3d(0,0,0);
}

.border{
  opacity: 0;
  transition: opacity .1s ease-in-out;
}

.horizontalBorder{
  &:before, &:after{
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    border-top: 2px dashed #39B6B3;
  }
  &:before{
    top: 0;
  }
  &:after{
    bottom: 0;
  }
}

.vertiacalBorder{
  &:before, &:after{
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    border-left: 2px dashed #39B6B3;
  }
  &:before{
    left: 0;
  }
  &:after{
    right: 0;
  }
}

.title{
  position: absolute;
  left: -1px;
  top: -1px;
  text-transform: uppercase;
  font-size: 11px;
  padding: 3px;
  color: white;
  background-color: #39B6B3;
  &.outside{
    top: auto;
    bottom: 100%;
    margin-bottom: -2px;
  }
}

.over{
  opacity: 1;
}
