.colorpicker {
  &__label {
    display: inline-block;
    font-size: 13px;
    color: #333;
    margin-left: 10px;
    user-select: none
  }
  &__component {
    margin-top: 10px;
    & > div {
      margin: 0 auto;
    }
  }
}